.body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Poppins, sans-serif;
  color: #242b37;
  font-size: 15px;
  line-height: 22px;
  font-weight: 300;
}

.section-particles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80vh;
  margin: 70px auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), var(--image-i1ffa3f63);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--image-i1ffa3f63);
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

.logotype {
  z-index: 1;
  max-width: 350px;
  margin-bottom: 35px;
}

.section-header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  margin-bottom: 70px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-content.pdf {
  margin-top: 60px;
  margin-bottom: 60px;
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: #f8f8f8;
}

.section-content.faq {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60vh;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #242b37;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), var(--image-i1ffa3f63);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--image-i1ffa3f63);
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

.section-content.currently-researching {
  display: none;
}

.container {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  max-width: 992px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.container.faq {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-section {
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}

.paragraph-section {
  margin-bottom: 0px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.paragraph-section.custom {
  margin-bottom: 100px;
}

.paragraph-section.custom.faq.lp {
  margin-bottom: 40px;
  color: #fff;
  font-size: 36px;
  line-height: 43px;
  font-weight: 500;
  text-align: center;
}

.collection-list-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -10px;
  margin-left: -10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.section-cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 70px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f2f2f2;
}

.section-cta.password {
  margin-top: 100px;
}

.half-wrap {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.half-wrap.right.img {
  height: auto;
  min-height: 600px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), var(--image-i59174415);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--image-i59174415);
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.half-wrap.left {
  padding-right: 20px;
  padding-left: 20px;
}

.half-wrap.hero {
  height: 400px;
  min-height: 100vh;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), var(--image-413430a7);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--image-413430a7);
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.half-wrap.logo {
  background-color: #242b37;
}

.wrap-cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 340px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button-cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  max-width: 340px;
  margin-top: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 15px;
  background-color: #242b37;
  color: #fff;
  font-size: 25px;
  line-height: 40px;
  font-weight: 400;
}

.section-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 100px 70px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #242b37;
  color: #fff;
  font-size: 16px;
}

.copyright {
  font-weight: 300;
}

.wrap-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.link {
  padding-right: 10px;
  padding-left: 10px;
  color: #fff;
  text-decoration: none;
}

.logo-header {
  max-width: 280px;
}

.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.item {
  position: relative;
  display: block;
  width: 33.333333333333336%;
  padding: 10px;
}

.item-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-width: 3px;
  border-color: #f3f3f3;
  border-radius: 5px;
  box-shadow: 1px 1px 20px 4px rgba(0, 0, 0, 0.03);
  text-align: center;
  cursor: pointer;
}

.item-wrap.pdf {
  padding: 0px 0px 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top-style: none;
  border-right-style: none;
  border-bottom-color: #d8d8d8;
  border-left-style: none;
  border-radius: 0px;
  box-shadow: none;
  text-decoration: none;
}

.headline {
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;
}

.headline.pdf {
  margin: 0px 15px;
  color: #242b37;
  font-size: 16px;
  text-align: left;
}

.headline.faq {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.text {
  color: #909090;
  text-decoration: none;
}

.card-img {
  height: 45px;
}

.wrap-debug {
  display: none;
  margin-bottom: 20px;
  font-family: Inconsolata, monospace;
  color: #fa3ca1;
  font-size: 9px;
  line-height: 13px;
  text-align: center;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.key-visual {
  position: absolute;
  width: 10%;
  height: 400px;
  background-color: #fa6464;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7319a0), to(#4282d0));
  background-image: linear-gradient(180deg, #7319a0, #4282d0);
}

.key-visual.top {
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  height: 70%;
}

.key-visual.bottom {
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
  height: 20%;
}

.wrap-navigation {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 40px;
  padding-right: 70px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.wrap-mobile {
  display: none;
}

.wrap-mobile-menu {
  display: none;
}

.logo-half {
  width: 80%;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.btn-submit {
  border-radius: 5px;
  background-color: #4282d0;
}

.btn-submit.request {
  margin-top: 10px;
  background-color: transparent;
  font-size: 12px;
  font-weight: 300;
  text-decoration: none;
}

.field-password {
  height: 50px;
  border-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0.16);
  color: #fff;
}

.field-password::-webkit-input-placeholder {
  color: #fff;
}

.field-password:-ms-input-placeholder {
  color: #fff;
}

.field-password::-ms-input-placeholder {
  color: #fff;
}

.field-password::placeholder {
  color: #fff;
}

.section-password {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), var(--image-i1ffa3f63);
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--image-i1ffa3f63);
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
}

.loader {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  display: none;
  width: 100%;
  background-color: #fff;
}

.form-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form {
  position: relative;
  z-index: 1;
  width: 70%;
  font-size: 19px;
}

.form-field {
  height: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0.45);
  border-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0.26);
  color: #fff;
  font-size: 16px;
}

.form-field::-webkit-input-placeholder {
  color: #fff;
  font-size: 19px;
}

.form-field:-ms-input-placeholder {
  color: #fff;
  font-size: 19px;
}

.form-field::-ms-input-placeholder {
  color: #fff;
  font-size: 19px;
}

.form-field::placeholder {
  color: #fff;
  font-size: 19px;
}

.form-button {
  width: 100%;
  height: 55px;
  border-radius: 5px;
  background-color: #242b37;
}

.form-wrap {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 2;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  opacity: 0.9;
}

.text-block {
  position: absolute;
  left: auto;
  top: 50px;
  right: 50px;
  bottom: auto;
}

.popup-wrap {
  position: fixed;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0.95);
  box-shadow: 1px 1px 10px -4px rgba(0, 0, 0, 0.18);
}

.popup-paragraph {
  margin-bottom: 0px;
}

.popup-legend {
  font-size: 11px;
}

.popup-wrap-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.popup-icon {
  height: 13px;
  margin-top: 4px;
  margin-right: 14px;
  padding-top: 0px;
}

.popup-icon.close {
  height: 10px;
  cursor: pointer;
}

.wrapper-filters {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -10px;
  margin-bottom: 40px;
  margin-left: -10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrap-search {
  display: none;
  margin-top: 40px;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.search-field {
  position: relative;
  height: 70px;
  min-width: 500px;
  padding-top: 13px;
  padding-left: 30px;
  border: 1px solid #eee;
  border-radius: 100px;
  box-shadow: none;
}

.search-field:focus {
  border-style: none;
}

.search-field::-webkit-input-placeholder {
  color: #b8b8b8;
  font-size: 16px;
  font-weight: 300;
}

.search-field:-ms-input-placeholder {
  color: #b8b8b8;
  font-size: 16px;
  font-weight: 300;
}

.search-field::-ms-input-placeholder {
  color: #b8b8b8;
  font-size: 16px;
  font-weight: 300;
}

.search-field::placeholder {
  color: #b8b8b8;
  font-size: 16px;
  font-weight: 300;
}

.wrapper-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.filter {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  padding: 16px 30px 14px;
  float: left;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-color: #eee;
  border-radius: 100px;
  background-color: #fff;
  box-shadow: none;
  -webkit-transition: border 150ms ease, color 200ms cubic-bezier(.55, .085, .68, .53);
  transition: border 150ms ease, color 200ms cubic-bezier(.55, .085, .68, .53);
  color: #000;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.filter:hover {
  border-color: #000;
  color: #0988c7;
}

.filter:active {
  color: #fff;
}

.filter.checked {
  background-color: #242b37;
  -webkit-transition: color 200ms ease, background-color 200ms ease-in-out;
  transition: color 200ms ease, background-color 200ms ease-in-out;
  color: #fff;
}

.dummy-cl-wrapper-categories {
  display: none;
}

.feat {
  display: block;
}

.categ {
  display: block;
}

.title {
  display: block;
}

.mix {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px;
}

.wrap-category-pdf {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.category {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #f3f3f3;
  border-radius: 5px;
  color: #909090;
  font-size: 13px;
}

.category.highlight {
  margin-left: 8px;
  border-style: none;
  border-radius: 0px;
}

.item-wrap-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #f3f3f3;
  border-radius: 25px;
  box-shadow: 1px 1px 20px 4px rgba(0, 0, 0, 0.05);
  text-align: center;
  cursor: pointer;
}

.wrap-title-date {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.wrap_helper {
  display: none;
  color: #ff0004;
  font-size: 11px;
  text-align: left;
}

.link-file {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 14px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.rnd_btn {
  z-index: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  background-color: #ffca28;
}

.rnd_btn.education {
  background-color: #9bff28;
}

.rnd_btn.sierre {
  background-color: #28ffe2;
}

.rnd_btn.etapes {
  background-color: #fbfb28;
}

.rnd_btn.utiles {
  background-color: #f2ca52;
}

.rnd_btn.culture {
  background-color: #f71f14;
}

.text_button {
  position: relative;
  z-index: -1;
  padding-right: 10px;
}

.wrap_button {
  position: relative;
  z-index: -1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pdf-date {
  color: #909090;
  font-size: 12px;
  line-height: 23px;
  font-weight: 300;
  text-align: left;
}

.pdf-date.mobile {
  display: none;
}

.download {
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: #000;
  font-size: 13px;
  line-height: 23px;
  font-weight: 600;
  text-decoration: none;
}

.circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 15px;
  height: 15px;
  margin-top: 3px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #f3f3f3;
  border-radius: 20px;
  color: #909090;
  font-size: 13px;
}

.wrap-category {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 40px;
}

.select-field {
  height: 50px;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 18px;
}

.card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding: 25px 25px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-color: #f3f3f3;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 1px 20px 4px rgba(0, 0, 0, 0.03);
}

.card.research {
  margin-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.accordion-item-trigger {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  cursor: pointer;
}

.accordion-item-content {
  overflow: hidden;
  margin-top: 10px;
  margin-right: 30px;
}

.icon {
  height: 15px;
}

.icon.accordion-icon {
  margin-top: 5px;
  margin-left: 10px;
}

.cl-wrapper-faq {
  margin-bottom: 0px;
}

.btn {
  border-radius: 5px;
}

.error-message {
  border-radius: 5px;
  font-size: 12px;
  line-height: 18px;
}

.error-text {
  color: #ff0004;
}

.pdf-text {
  margin-left: 8px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 5px;
  background-color: #b30b00;
  color: #fff;
  font-size: 13px;
  line-height: 23px;
  font-weight: 500;
  text-decoration: none;
}

.pdf-text.mp4 {
  background-color: #6254ff;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  height: 50px;
  min-width: 150px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}

.button.full-width {
  width: 100%;
}

.card-faq {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-style: none none solid;
  border-width: 1px;
  border-color: #000 #000 #d8d8d8;
  background-color: #fff;
}

.card-faq.research {
  margin-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.icon-circle {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  opacity: 0.2;
}

.icon-circle-inner {
  position: absolute;
  z-index: 10;
  width: 10px;
  height: 10px;
  border-radius: 20px;
}

.wrap-icon {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-big {
  margin-bottom: 40px;
  color: #fff;
  font-size: 36px;
  line-height: 43px;
  font-weight: 500;
  text-align: center;
}

.heading-big.custom {
  margin-bottom: 100px;
}

.heading-big.custom.faq.lp {
  margin-bottom: 40px;
  color: #fff;
  font-size: 36px;
  line-height: 43px;
  font-weight: 500;
  text-align: center;
}

.heading-big.dark {
  max-width: 440px;
  color: #242b37;
}

.message {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 999;
  display: none;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.4);
  font-family: Inconsolata, monospace;
}

.text-block-2 {
  color: #fff;
  font-size: 10px;
}

@media screen and (max-width: 991px) {
  .section-particles {
    height: 60vh;
    max-width: none;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .logotype {
    width: 40vw;
  }

  .section-header {
    margin-bottom: 60px;
  }

  .section-content {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section-content.pdf {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .section-content.faq {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .container {
    padding-right: 70px;
    padding-left: 70px;
  }

  .heading-section {
    margin-bottom: 30px;
  }

  .paragraph-section {
    font-size: 22px;
    line-height: 34px;
  }

  .paragraph-section.custom {
    margin-bottom: 70px;
  }

  .section-cta.password {
    margin-top: 60px;
  }

  .half-wrap.right {
    width: 40%;
  }

  .half-wrap.right.img {
    width: 50%;
  }

  .wrap-cta {
    max-width: 280px;
  }

  .button-cta {
    height: 60px;
    margin-top: 40px;
    font-size: 18px;
  }

  .section-footer {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .logo-header {
    width: 50%;
    max-width: 250px;
  }

  .item {
    width: 50%;
  }

  .form {
    font-size: 17px;
  }

  .form-field::-webkit-input-placeholder {
    font-size: 17px;
  }

  .form-field:-ms-input-placeholder {
    font-size: 17px;
  }

  .form-field::-ms-input-placeholder {
    font-size: 17px;
  }

  .form-field::placeholder {
    font-size: 17px;
  }

  .heading-big.custom {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 767px) {
  .section-particles {
    height: 50vh;
  }

  .logotype {
    width: 35vw;
  }

  .section-header {
    margin-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .section-content {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section-content.pdf {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .section-content.faq {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .container {
    padding-right: 20px;
    padding-left: 20px;
  }

  .heading-section {
    font-size: 14px;
  }

  .paragraph-section {
    font-size: 18px;
    line-height: 26px;
  }

  .paragraph-section.custom.faq {
    margin-bottom: 40px;
  }

  .paragraph-section.custom.faq.lp {
    font-size: 28px;
    line-height: 36px;
  }

  .paragraph-section.contact {
    margin-top: 0px;
  }

  .section-cta {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .section-cta.password {
    margin-top: 40px;
  }

  .half-wrap {
    width: 100%;
  }

  .half-wrap.right.img {
    width: 100%;
    min-height: 330px;
  }

  .half-wrap.left {
    min-height: 140px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .half-wrap.particles-container.hero {
    min-height: 50vh;
  }

  .wrap-cta {
    max-width: 230px;
  }

  .button-cta {
    margin-top: 20px;
    font-size: 16px;
  }

  .section-footer {
    padding-right: 20px;
    padding-left: 20px;
  }

  .wrap-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .link.mobile {
    margin-bottom: 50px;
    color: #242b37;
  }

  .wrap-desktop {
    display: none;
    margin-top: 20px;
  }

  .item-wrap.pdf {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .text {
    font-size: 14px;
    line-height: 22px;
  }

  .key-visual {
    display: none;
  }

  .wrap-navigation {
    padding-right: 40px;
  }

  .wrap-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
  }

  .wrap-mobile-menu {
    position: fixed;
    left: 0%;
    top: 0%;
    right: auto;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    -webkit-transform: translate(-120%, 0px);
    -ms-transform: translate(-120%, 0px);
    transform: translate(-120%, 0px);
  }

  .logo-half {
    width: 70%;
  }

  .wrap-links-footer {
    margin-top: 20px;
  }

  .wrapper-filters {
    margin-bottom: 20px;
  }

  .wrap-search {
    width: 100%;
  }

  .search-field {
    width: 100%;
    min-width: auto;
    border-width: 1px;
  }

  .search-field::-webkit-input-placeholder {
    font-size: 16px;
  }

  .search-field:-ms-input-placeholder {
    font-size: 16px;
  }

  .search-field::-ms-input-placeholder {
    font-size: 16px;
  }

  .search-field::placeholder {
    font-size: 16px;
  }

  .filter {
    margin: 5px;
    padding: 10px 20px;
    border-width: 1px;
  }

  .wrap-category-pdf {
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .rnd_btn {
    top: 13px;
  }

  .pdf-date {
    display: none;
    font-size: 13px;
    line-height: 22px;
  }

  .pdf-date.mobile {
    display: block;
    margin-left: 54px;
  }

  .download {
    font-size: 13px;
    line-height: 22px;
  }

  .accordion-item-content {
    margin-right: 0px;
  }

  .pdf-text {
    font-size: 13px;
    line-height: 22px;
  }

  .heading-big {
    font-size: 28px;
    line-height: 35px;
  }

  .heading-big.custom.faq {
    margin-bottom: 40px;
  }

  .heading-big.custom.faq.lp {
    font-size: 28px;
    line-height: 36px;
  }

  .heading-big.contact {
    margin-top: 0px;
  }
}

@media screen and (max-width: 479px) {
  .logotype {
    width: 60vw;
    max-width: 200px;
  }

  .section-header {
    margin-bottom: 20px;
  }

  .section-content.pdf {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .heading-section {
    margin-bottom: 20px;
    font-size: 12px;
  }

  .paragraph-section {
    font-size: 16px;
    line-height: 28px;
  }

  .paragraph-section.custom.faq.lp {
    max-width: 245px;
  }

  .section-cta.password {
    margin-top: 20px;
  }

  .half-wrap.right {
    width: 100%;
  }

  .wrap-cta {
    max-width: 300px;
    padding: 50px 42px;
  }

  .button-cta {
    font-size: 15px;
  }

  .section-footer {
    padding-right: 15px;
    padding-left: 15px;
  }

  .item {
    width: 100%;
  }

  .wrap-navigation {
    padding-top: 20px;
    padding-right: 20px;
  }

  .wrap-mobile {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .wrap-mobile-menu {
    -webkit-transform: translate(-120%, 0px);
    -ms-transform: translate(-120%, 0px);
    transform: translate(-120%, 0px);
  }

  .form {
    font-size: 15px;
  }

  .form-field::-webkit-input-placeholder {
    font-size: 15px;
  }

  .form-field:-ms-input-placeholder {
    font-size: 15px;
  }

  .form-field::-ms-input-placeholder {
    font-size: 15px;
  }

  .form-field::placeholder {
    font-size: 15px;
  }

  .text-block {
    top: 30px;
    right: 30px;
  }

  .popup-wrap {
    left: auto;
    top: auto;
    right: 0%;
    bottom: 0%;
    display: none;
    margin-left: 20px;
  }

  .wrapper-filters {
    margin-right: -5px;
    margin-left: -5px;
  }

  .search-field {
    height: 60px;
  }

  .wrapper-buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .filter.checked {
    width: 100%;
  }

  .mix {
    width: 100%;
  }

  .wrap-category-pdf {
    width: 100%;
    margin-top: 10px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .category {
    margin-left: 0px;
  }

  .item-wrap-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .pdf-date {
    text-align: right;
  }

  .circle {
    margin-left: 0px;
  }

  .select-field {
    font-size: 15px;
  }

  .heading-big {
    max-width: 230px;
    font-size: 26px;
    line-height: 33px;
  }

  .heading-big.custom.faq.lp {
    max-width: 245px;
  }
}

